<ion-view title="Conditions générales" hide-tabs>
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ui-sref="app.transition">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
		<!--
    <div style="text-align:center; line-height: 180%; padding-top: 30%; padding-left: 10%; padding-right: 10%; font-size: 25px;">
			<div class="card" style="background-color: #667; color:#fff; opacity: 0.8;">
				Page bientôt disponible.
			</div>
		</div>
    -->
    <div class="card" style="text-align: justify; padding: 5%;">
      {{ 'tou_content' | translate }}
    </div>
	</ion-content>
</ion-view>