<ion-view title="{{ 'legals_title' | translate }}" hide-tabs>
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ui-sref="app.transition">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
		<div class="card" style="text-align: justify; padding: 5%; white-space: pre-wrap;">
      <!--{{ 'legals_content' | translate }}-->
      <h1>Mentions légales</h1>

      <h2>Editeur</h2>
      SPOTICOM SAS,
      <br>
      11 rue Pierre Brossolette 
      92300 Levallois Perret <br>
      RCS de Nanterre sous le N°824 796 734
      Directeur de la publication : Sébastien Baer, Président 
      <br>
      Contact : contact@spoticome.com

      <h2>Hébergement</h2>
      OVH <br>
      2 rue Kellermann - 59100 Roubaix - France.
      <br>
      <h2>Objectif et qualité des contenus</h2>
      En accord avec sa politique de communication, le site myspotihome.com a pour vocation d'informer les utilisateurs sur les services proposés par la SAS SPOTICOM, qui s'efforce alors de fournir des informations précises sur son activité. Cependant, des inexactitudes ou des omissions peuvent exister : la société ne pourra en aucun cas être tenue pour responsable pour toute erreur présente sur le site myspotihome.com.<br>
              
      Les liens reliés à notre site web myspotihome.com ne sont pas sous le contrôle de notre société. Par conséquent, nous ne pouvons nous assurer de l’exactitude des informations présentes sur ces autres sites Internet.<br>
              
      Notre site ne pourra être tenu pour responsable en cas de dommages matériels liés à son utilisation. Par ailleurs, toute autre type de conséquence liée à l'exploitation du site myspotihome.com, qu'elle soit directe ou indirecte (bug, incompatibilité, virus, perte de marché, perte de données, etc.) ne saurait engager la responsabilité du site.

      <h2>Propriété intellectuelle</h2>
      Le contenu rédactionnel, visuel et graphique du site web myspotihome.com appartiennent exclusivement à SPOTICOM. Toute violation des droits d’auteur est sanctionnée par l’article L.335-2 du Code de la Propriété Intellectuelle, avec une peine encourue de 2 ans d’emprisonnement et de 150 000 € d’amende. 
    </div>
	</ion-content>
</ion-view>