<!--View Information-->
<!--View name : TryApp-->
<!--State name : app.tryApp-->
<!--URL : #app/tryApp-->

<ion-view title="Accueil" hide-tabs>
    <!--left button on navigation bar-->
    <ion-nav-buttons side="right">
        <button class="button button-clear">
        </button><!-- -->
    </ion-nav-buttons>
    <ion-content has-subheader="false">
        <div style="position: absolute; top:0; left: 0; width: 100%; height: {{screenHeight}};">
            <md-toolbar class="md-small md-primary toolbar-welcome" style="position: absolute; left: 0; top: 0; width: 100%;">
                <div>
                    <img src="img/icon.png" class="img-logo-welcome">
                </div>
            </md-toolbar>

            <div style="position: absolute; bottom: 0; left: 0; width: 100%; height:60%;">
                <!--  
                **********dans <h4 class = "welcome-title">***********
                    ng-style={{welcomeTitleStyle}}
                -->
                <h4 class="welcome-title">Bienvenue!</h4>

                <div  style="position: absolute; width: 75%; left: 12.5%; top:15%; display: flex; justify-content: space-around;">
<!--
                    <div>
                        <a ng-click="facebookSignIn()">
                            <img src="img/logoFb.png" style="width: 60px; height: 60px;">
                        </a>
                    </div>
                    <div>
                        <a ng-click="googleSignIn()">
                            <img src="img/logoGooglePlus.png" style="width: 60px; height: 60px;">
                        </a>
                    </div>
                  
                    <div>
                        <a ng-click="linkkySingIn()">
                            <img ng-src="img/logoLinkedin.png" style="width: 60px; height: 60px;">
                        </a>
                    </div>
-->                    
                </div>  
                <!--  
                **********dans <a class="welcome-singUp">***********
                    ng-style={{signUpBtnStyle}}
                -->
                <!--  
                **********dans <a class="welcome-login>***********
                    ng-style={{loginBtnStyle}}
                -->
                <a href="#/public/fakeWizardSignUp" class="sign welcome-singUp">Inscription</a>
                <a href="#/public/fakeLogin"  class=" sign welcome-login">Connexion</a> 
            </div>
        </div>
    </ion-content>         
</ion-view>
